<div>
  <mat-form-field class ="example-full-width">
    <mat-label>First Name:</mat-label>
    <input type="text" matInput placeholder="First Name">
  </mat-form-field>

  <mat-form-field class ="example-full-width">
    <mat-label>Last Name:</mat-label>
    <input type="text" matInput placeholder="Last Name">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email:</mat-label>
    <input type="email" matInput placeholder="Email" required>
    <mat-icon matSuffix>email</mat-icon>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password:</mat-label>
    <input type="password" matInput placeholder="Password" minlength="4" required>    
  </mat-form-field>

  <button class="mat-button" mat-raised-button color="primary" (click)="addCustomer()">Register</button>
</div>



 