<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>Customer Details</th>
		</tr>
	</thead>
	<tbody class="table-group-divider">
        <tr>
			<th scope="row">First Name:</th>
            <td>{{ customer.firstName }}</td>
        </tr>
        <tr>
			<th scope="row">Last Name:</th>
            <td>{{ customer.lastName }}</td>
        </tr>
        <tr>
            <th scope="row">Email:</th>
            <td>{{ customer.email }}</td>
		</tr>
        <tr>
            <th scope="row">Password:</th>
            <td>{{ customer.password }}</td>
        </tr>
     
	</tbody>
</table>
