<div class="center">
  <div class="center-content">
    <mat-card class="example-card">

      <div class="header">
        <mat-card-header>
          <mat-card-title>Customer Profile</mat-card-title>
        </mat-card-header>
      </div>
      <div style="font-size: 10px">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Name: </mat-label>
            <input type="text" matInput placeholder="First Name" [(ngModel)]="customer.name" required>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Email: </mat-label>
            <input type="text" matInput placeholder="Email" [(ngModel)]="customer.email" required>
          </mat-form-field> 
          <mat-form-field class="example-full-width">
            <mat-label>Password </mat-label>
            <input type="text" matInput placeholder="Passwork" [(ngModel)]="customer.password" required>
          </mat-form-field>
        </mat-card-content>
        <mat-divider></mat-divider>
        <div>
          <button class="mat-button" mat-raised-button color="#576063" (click)="addCustomer()">Register</button>
        </div>
      </div>
     
    </mat-card>
  </div>
</div>